language: shell
  
env:
  global:
  - MULTIPASS_RELEASE_BRANCH_PATTERN="^release/([0-9\.]+)$"
  - MULTIPASS_RELEASE_TAG_PATTERN="^v([0-9]+\.[0-9]+)\.[0-9]+$"

stages:
- name: build
  if: | # bors and release branches, release tags and all pull requests
    (type = push
     AND (branch IN (staging, trying, master)
          OR branch ~= env(MULTIPASS_RELEASE_BRANCH_PATTERN)
          OR branch ~= env(MULTIPASS_RELEASE_TAG_PATTERN)))
    OR type = pull_request
    
jobs:
  include:
    - name: one
    - stage: build
      name: two
